{% extends "bases/home_base.html" %}

{% block title %}Signup{% endblock %}

{% block content %}
<form method="post">
  {% csrf_token %}
  <input type="text" name="username" maxlength="25" placeholder="Username" required>
  
  <input type="text" name="email" placeholder="Email address" required>
  
  <input type="password" name="psw_0" placeholder="Password" required>
  <input type="password" name="psw_1" placeholder="Repeat Password" required>

  <button type="submit">Sign up</button> or <a href="/login">login</a>
</form>
{% endblock %}